<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>{% block title %}Django Web programming{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    {% block extra-style %} {% endblock %}
</head>
<bodys style="padding-top:90px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand font-weight-bold text-info overflow-auto" href="/">Blue-collar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'bookmark:index' %}">Bookmark</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'blog:index' %}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="">Photo</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a>
          <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'blog:post_archive' %}">Archive</a>
          <a class="dropdown-item" href="">Search</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="" method="post">{% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="검색" name="search_word">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- LOGIN -->
    <ul class="navbar-nav ml-5 mr-5">
        <li class="nav-item dropdown mx-1 btn">
            {% if user.is_active %}
                <a class="nav-link dropdown-toggle text-black" href="#" data-toggle="dropdown">
                <i class="fas fa-user"></i>&ensp;{% firstof user.get_short_name user.get_username %}&ensp;
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">로그아웃</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">비밀번호변경</a>
                    <a class="dropdown-item" href="">포트폴리오 수정</a>
                </div>
            {% else %}
                <a class="nav-link dropdown-toggle text-black" href="#" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&ensp;로그인&ensp;
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'login' %}">로그인</a>
                    <a class="dropdown-item" href="{% url 'register' %}">회원가입</a>
                </div>
            {% endif %}
        </li>
    </ul>

  </div>
</nav>

{% block content %}{% endblock %}

{% block footer %} {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
{% block extra-script %} {% endblock %}
</bodys>
</html>
